<h2>Publications</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
</tr>
{{# each articles}}
  <h2>{{{this.name}}}</h2><br>
  
  <embed src="/pdfs/{{{this.filename}}}" type="application/pdf" width="70%" height="600px" />

  
 {{/each}}
</tr>