<h2>Add your scholarly work!!</h2>
<form method="POST" action="" encType="multipart/form-data" >
	<div>
		<label for="title">Name:</label>
		<input type="text" id="title" name="name" value="">
	</div>
      <div>
		<label for="checkbox">Make your publication public?</label>
		<input type="checkbox" name="publicity" value="public">
	</div>
   <input type="file" name="pdf" />
	<input type="submit" value="Upload!">
</form>
