<h2>Register</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="register">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" value="">
	</div>
	<div>
		<label for="email">Email:</label> 
		<input type="email" name="email" value="">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	</div>
   <div>
		<label for="checkbox">Make your profile public? Your link will still be accessible by anyone, but you will not be linked on the front page:</label>
		<input type="checkbox" name="publicity" value="public">
      
	</div>
	<div><input type="submit" value="Register"></div>
</form>
