#editor {
    position: absolute;
    width: 500px;
    height: 400px;
}
#myForm {
    position: relative;
    top: 400px;
}
#button {
    position: relative;
    top: 400px;
}
#output {
    position: relative;
    top: 400px;
}
div.hidden{
   display: none;
}